{% assign curricula = "swc-gapminder|swc-inflammation"  | split: "|" %}

{% unless curricula contains site.curriculum %}
{% include warning-curriculum.html %}
{% endunless %}

{% include install_instructions/shell.html %}

<div class="info alert alert-info">
  <h5>Note for Windows Users</h5>
  <ul>
    <li>If you have chosen <strong>Git for Windows ("Git Bash")</strong>, please follow the <strong>Windows</strong> instructions.</li>
    <li>If you have chosen <strong>Windows Subsystem for Linux ("WSL2")</strong>, please open your Ubuntu bash terminal and follow the <strong>Linux</strong> instructions for each of the software packages below.</li>
  </ul>
</div>


